html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bug {
  background: #aedf78;
}

.water {
  background: #43ccff;
}

.grass {
  background: #00ca91;
}

.fire {
  background: #e95c4d;
}

.normal {
  background: #c8c7c7;
}

.electric {
  background: rgb(251, 238, 3);
}

.poison {
  background: purple;
}

.ground {
  background: rgb(126, 50, 31);
}

.fairy {
  background: pink;
}

.fighting {
  background: rgb(234, 120, 20);
}

.rock {
  background: grey;
}

.ghost {
  background: rgb(234, 131, 234);
}

.psychic {
  background: rgb(76, 227, 204);
}

.ice {
  background: rgb(100, 113, 233);
}

.dragon {
  background: rgb(36, 55, 220);
}